
<% if ! user_signed_in? %>
    <h2>Please sign in or sign up to view the event details</h2>
    <p class="control">
        <%= link_to "Sign In", new_user_session_path, class: "button is-info"%>
    </p>
    <p class="control">
        <%= link_to "Sign Up", new_user_registration_path, class: "button if-info"%>
    </p>
<% else %>
    <h1>Event Detais</h1>
    <h2>Event Date</h2>
    <%=@event.event_date%>
    <h2>Event Location</h2>
    <%= @event.location%>
    <% if @event.creator == current_user %>
    <br/
    <br/>
    <nav class="navbar">
        <div class="navbar-menu">
            <div class="navbar-item">
                <div class="field is-grouped" >
                    <p style="padding-right: 10px;">
                        <%= link_to "Edit Event", edit_event_path(@event.id),class: "button is-info" %>
                    </p>
                    <p style="padding-left: 10px;">
                        <%= link_to "Destroy Event", event_path(@event), method: :delete, 
                                                    data: { confirm: "Are you sure?"}, class: "button is-info" %>
                    </p>
                </div>
            </div>
        </div>
    </nav>
<% end %>

<%= link_to "Back to Your Created Events Page", user_path(current_user.id), class: "button is-dark"%>

<%end %>

